/* General */
$scale:1px;                    /* initial font size */ 
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 
$borderRadius: 0.25rem;
$transitionDuration: 0.3s;
$font-size-base: 7rem;
$font-size-small: 10rem;
$font-size-large: 15rem;